@import "tailwindcss";

@theme {
  --color-rabbit-red: #ea2e0e;
  --color-royal-blue: #1e3a8a;
  --color-lightgray: #d1d5db;
  --color-charcoal-black: #111827;
  --color-dodger-blue: #1d4ed8;
  --color-sky-blue: #30c4ff;
  --color-sky-blue-hover: #1ea1d6;
  --color-test: #212121;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
